<template>
  <v-dialog v-model="isLoading" fullscreen hide-overlay persistent>
    <div class="full">
      <v-progress-circular indeterminate color="red"></v-progress-circular>
    </div>
  </v-dialog>
  <v-dialog v-model="isError" persistent max-width="500">
    <v-card elevation="2">
      <v-card-title>
        {{ Errors.title }}
      </v-card-title>

      <v-card-text>
        {{ Errors.message }}
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" text block @click="mainStore.clear"> OK </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup>
import { storeToRefs } from "pinia";

import { useMainStore } from "../../store";

const mainStore = useMainStore();
const { isLoading, isError, Errors } = storeToRefs(mainStore);
</script>

<style scoped>
.full {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50000;
}
</style>
