<template>
  <v-card theme="dark" min-width="350" :title="name" :subtitle="sortname">
    <template v-slot:text>
      Population(Random) :
      {{ Math.floor(Math.random() * 190 * id) + 100000 }}
    </template>
  </v-card>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    sortname: {
      type: String,
      required: true,
    },
    id: {
      type: Number,
      default: 10,
    },
  },
};
</script>
