<template>
  <h1 class="text-center">Countries</h1>
  <v-container fluid>
    <v-row justify="center">
      <v-col v-for="(item, index) in COUNTRY" :key="index" class="text-center">
        <CountryCard
          class="pointer"
          @click="$router.push('/states/' + item.id)"
          :name="item.name"
          :sortname="item.sortname"
          :id="item.id"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import CountryCard from "../components/Cards/Country.Card.vue";

import { onMounted } from "vue";
import { storeToRefs } from "pinia";
import { useApiStore } from "../store";

const apiStore = useApiStore();
const { COUNTRY } = storeToRefs(apiStore);

onMounted(() => {
  apiStore.GET_COUNTRY();
});
</script>
<style>
.pointer {
  cursor: pointer;
}
</style>
