<template>
  <template v-if="STATES.length >= 1">
    <v-container>
      <h1 class="text-center">
        States in <u>{{ COUNTRY_SELECTED.name }}</u> ({{ STATES.length }})
      </h1>

      <v-table theme="dark" fixed-header>
        <thead style="color: yellow">
          <tr>
            <th class="text-left">#</th>
            <th class="text-left">States</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(state, index) in STATES" :key="index">
            <td>{{ index + 1 }}</td>
            <td>{{ state.name }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-container>
  </template>
  <template v-else-if="STATES"></template>
  <template v-else>
    <v-container>
      <v-alert type="warning">Invalid Request.</v-alert>
    </v-container>
  </template>
</template>
<script setup>
import { useRoute } from "vue-router";

import { onMounted } from "vue";
import { storeToRefs } from "pinia";
import { useApiStore } from "../store";
const route = useRoute();
const apiStore = useApiStore();
const { STATES, COUNTRY_SELECTED } = storeToRefs(apiStore);
onMounted(() => {
  apiStore.GET_STATES(route.params.id);
});
</script>
