<template>
  <Teleport to="body">
    <TeleInf />
  </Teleport>
  <v-app>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
<script setup>
import TeleInf from "./components/Main/TeleInfo.vue";
</script>
